# Virtual environment folder
venv/
.venv/
env/
ENV/

# Python cache and compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
**/ipython/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Project state / pickle cache files (Streamlit session state)
*.pkl
app/*.pkl

# OS-specific files
Thumbs.db
db.properties
ehthumbs.db
Desktop.ini
.DS_Store

# Streamlit local configurations (optional)
.streamlit/

# Dataset folders (highly recommended to exclude from Git/GitHub due to size and file count limits)
app/DS-2/
app/PePo_KlsA_M12_5220411403/

